ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #3a5248;
  }
  
  li {
    float: right;
  }
  
  a{
    text-align: center;
    color: #ffffff;
    text-decoration: none; 
    font-family: 'Cinzel', serif;
    font-size: 1vw;
  }
  
  a:hover{
    color:#F0c330;
    transition: 0.5s;
  }